@use './modules/variables' as v;

.cases {


    background-repeat: no-repeat;
    width: 100%;
    position: relative;        
    background-image: url(../img/cases-lines.svg);
    height: 1400px;

    &-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        opacity: 0;
    }




    &-item {
        background-color: #fff;
    }



    &__title {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    &-img,
    &-title {
        margin-bottom: 25px;
    }

    &-title {
        font-weight: 700;
        font-size: 30px;
        color: v.$title-color;
    }



    &__container {
        display: grid;
        grid-template-areas: "a b c"
            "a b c"
            "a b c"
            "a b c"
            "a f l"
            "a f l"
            "d f l"
            "d f l"
            "d v l"
            "d v s"
            "e v s"
            "e v s"
            "e v s"
        ;
        position: absolute;
        transition: all 1s ease;
        gap: 21px;
        margin-bottom: 100px;
    }

    &-item:nth-child(1) {
        grid-area: a;
    }

    &-item:nth-child(2) {
        grid-area: b;
    }

    &-item:nth-child(3) {
        grid-area: c;
    }

    &-item:nth-child(4) {
        grid-area: d;
    }

    &-item:nth-child(5) {
        grid-area: f;
    }

    &-item:nth-child(6) {
        grid-area: l;
    }

    &-item:nth-child(7) {
        grid-area: e;
    }

    &-item:nth-child(8) {
        grid-area: v;
    }

    &-item:nth-child(9) {
        grid-area: s;
    }

    &-pre::after {
        content: '<';
        font-size: 40px;
    }

    &-next::after {
        content: '>';
        font-size: 40px;
    }

    &-btn {
        width: 15px;
        height: 15px;

        background: #C4C4C4;
        border-radius: 19px;
        border: none;
        cursor: pointer;

        &.active {
            width: 50px;

            background: #524EB7;
            border-radius: 19px;
        }
    }

    &-btns {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}