@use './modules/mixins' as m;
@use './modules/variables' as v;


.info {
    padding-top: 149px;
    background-color: v.$mainColor;
    color: #fff;
    font-weight: 700;
    text-align: left;

    padding-bottom: 269px;

    &__title {
        font-size: 36px;
    }

    &__suptitle {
        font-size: 72px;
    }

    &__activity {
        font-size: 24px;

        & span:not(.not):before {
            content: '+';
            margin: 0 40px;
        }
    }

}