@use './modules/variables' as v;

.seo-info {
    background: v.$mainColor;
    color: #fff;
    height: 611px;
}

.seo__title {
    font-weight: 700;
    font-size: 72px;
    margin-top: 40px;

}

.breadcrumbs {
    padding-top: 40px;
}

a.breadcrumbs-link:nth-child(1):after {
    content: url('../img/breadcrumbs-line.svg');

}

.service-desc {
    background-image: url(../img/service-desc.svg);
    margin-bottom: 100px;
    position: relative;
    height: 865px;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -230px;
        gap: 20px;
        position: absolute;
    }
}

.service-item {
    background-color: #fff;
    text-align: center;
    height: auto;
    padding: 40px;
    font-size: 18px;
}


.service-img img {
    margin-bottom: 20px;
}

.process {
    background-color: #fff;
    padding-bottom: 100px;

    &__info {
        padding-top: 100px;
        display: flex;
        gap: 100px;
        margin-bottom: 144px;
    }

    &__title {
        margin-bottom: 60px;
        margin-top: 28px;
    }

    &__desc {
        font-size: 18px;
    }

    &__steps {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 40px;
        row-gap: 75px;
    }

}

.step-title {
    font-weight: 700;
    font-size: 22px;
    color: v.$title-color;
    margin-bottom: 24px;
    // width: 277px;
    position: relative;
    margin-left: 75px;
}

.step-desc {
    font-size: 18px;

}

.step-title::before {
    content: '';
    font-size: 69px;
    color: v.$mainColor;
    padding-bottom: 20px;
    left: -75px;
    top: -15px;
    position: absolute;
    height: 20px;
}

.step:nth-child(1) .step-title::before {
    content: '1.';
}
.step:nth-child(2) .step-title::before {
    content: '2.';
}
.step:nth-child(3) .step-title::before {
    content: '3.';
}
.step:nth-child(4) .step-title::before {
    content: '4.';
}
.step:nth-child(5) .step-title::before {
    content: '5.';
}
.step:nth-child(6) .step-title::before {
    content: '6.';
}
.step:nth-child(7) .step-title::before {
    content: '7.';
}
.step:nth-child(8) .step-title::before {
    content: '8.';
}
.step:nth-child(9) .step-title::before {
    content: '9.';
}
