@use './modules/mixins' as m;
@use './modules/variables' as v;


*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100vh;
}


body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #E5E5E5;
}

.container {
    margin-left: 195px;
    margin-right: 195px;
}

@include m.link(){
    font-weight: 500;
    font-size: 18px;
};

.header {
    height: 120px;
    background-color: v.$mainColor;
    padding: 25px 40px;

    @include m.flex();
}

.navbar ul {
    @include m.flex();
    gap: 80px;
}

.burger-btn {
    display: none;
}


.navbar-item:last-child, .navbar-item:nth-child(8), .navbar-item:first-child, .navbar-item:nth-child(2){
    display: none;
}